# Handling Duplicate Values

In [6]:
import pandas as pd

data = pd.read_excel("C:/Users/ACER/Desktop/stuff/DS PROJECT/Datasets/EMP.XLSX")
print(data)

   EMPID      Name Gender   Salary
0    101  harshita      F  35133.0
1    105    bhavin      M      NaN
2    101  harshita      F  35133.0
3    103     abhay      M  35453.0
4    108       NaN      F  35365.0
5    110     nitin      M      NaN
6    103     abhay      M  35453.0

In [10]:
# Check for duplicated entries in the "EMPID" column and print the result
print(data["EMPID"].duplicated())
print()
# Count the total number of duplicated entries in the "EMPID" column and print the result
print(data["EMPID"].duplicated().sum())

0    False
1    False
2     True
3    False
4    False
5    False
6     True
Name: EMPID, dtype: bool

2

In [12]:
# Remove duplicated entries in the "EMPID" column and print the result
print(data.drop_duplicates("EMPID"))

   EMPID      Name Gender   Salary
0    101  harshita      F  35133.0
1    105    bhavin      M      NaN
3    103     abhay      M  35453.0
4    108       NaN      F  35365.0
5    110     nitin      M      NaN