# HANDLING NULL VALUES

In [2]:
import pandas as pd

data = pd.read_excel("C:/Users/ACER/Desktop/stuff/DS PROJECT/Datasets/EMP.XLSX")
print(data)

   EMPID      Name Gender   Salary
0    101  harshita      F  35133.0
1    105    bhavin      M      NaN
2    101  harshita      F  35133.0
3    103     abhay      M  35453.0
4    108       NaN      F  35365.0
5    110     nitin      M      NaN
6    103     abhay      M  35453.0

In [4]:
# Print a boolean DataFrame indicating the presence of null values in the 'data' DataFrame
print(data.isnull())

   EMPID   Name  Gender  Salary
0  False  False   False   False
1  False  False   False    True
2  False  False   False   False
3  False  False   False   False
4  False   True   False   False
5  False  False   False    True
6  False  False   False   False

In [6]:
# Print the total number of missing values in each column of the DataFrame 'data'
print(data.isnull().sum())

EMPID     0
Name      1
Gender    0
Salary    2
dtype: int64

In [18]:
# Calculate and print the mean salary from the 'Salary' column in the data
print(data["Salary"].mean())
print()
print(data)

35307.4

   EMPID      Name Gender   Salary
0    101  harshita      F  35133.0
1    105    bhavin      M  35307.4
2    101  harshita      F  35133.0
3    103     abhay      M  35453.0
4    108       NaN      F  35365.0
5    110     nitin      M  35307.4
6    103     abhay      M  35453.0

In [20]:
import numpy as np

# Replace NaN values in the 'data' DataFrame with the mean value 35307
print(data.replace(np.nan, 35307))

# Replace NaN values in the 'Salary' column of the 'data' DataFrame with the value 35307.4
data["Salary"] = data["Salary"].replace(np.nan, 35307.4)

print()

print(data)

print()

# Calculate and print the mean of the 'Salary' column
print(data["Salary"].mean())

   EMPID      Name Gender   Salary
0    101  harshita      F  35133.0
1    105    bhavin      M  35307.4
2    101  harshita      F  35133.0
3    103     abhay      M  35453.0
4    108     35307      F  35365.0
5    110     nitin      M  35307.4
6    103     abhay      M  35453.0

   EMPID      Name Gender   Salary
0    101  harshita      F  35133.0
1    105    bhavin      M  35307.4
2    101  harshita      F  35133.0
3    103     abhay      M  35453.0
4    108       NaN      F  35365.0
5    110     nitin      M  35307.4
6    103     abhay      M  35453.0

35307.4

In [33]:
import pandas as pd
data = pd.read_excel("C:/Users/ACER/Desktop/stuff/DS PROJECT/Datasets/EMP.XLSX")
print(data)

   EMPID      Name Gender   Salary
0    101  harshita      F  35133.0
1    105    bhavin      M      NaN
2    101  harshita      F  35133.0
3    103     abhay      M  35453.0
4    108       NaN      F  35365.0
5    110     nitin      M      NaN
6    103     abhay      M  35453.0

# BFILL() METHOD

In [28]:
print(data)
print()
# Print the result of the backward fill operation on the 'data' DataFrame
# The bfill() method fills NaN values using the next valid observation
print(data.bfill())

   EMPID      Name Gender   Salary
0    101  harshita      F  35133.0
1    105    bhavin      M      NaN
2    101  harshita      F  35133.0
3    103     abhay      M  35453.0
4    108       NaN      F  35365.0
5    110     nitin      M      NaN
6    103     abhay      M  35453.0

   EMPID      Name Gender   Salary
0    101  harshita      F  35133.0
1    105    bhavin      M  35133.0
2    101  harshita      F  35133.0
3    103     abhay      M  35453.0
4    108     nitin      F  35365.0
5    110     nitin      M  35453.0
6    103     abhay      M  35453.0

# FFILL() METHOD

In [30]:
print(data)
print()
# Print the data after applying forward fill to fill missing values
print(data.ffill())

   EMPID      Name Gender   Salary
0    101  harshita      F  35133.0
1    105    bhavin      M      NaN
2    101  harshita      F  35133.0
3    103     abhay      M  35453.0
4    108       NaN      F  35365.0
5    110     nitin      M      NaN
6    103     abhay      M  35453.0

   EMPID      Name Gender   Salary
0    101  harshita      F  35133.0
1    105    bhavin      M  35133.0
2    101  harshita      F  35133.0
3    103     abhay      M  35453.0
4    108     abhay      F  35365.0
5    110     nitin      M  35365.0
6    103     abhay      M  35453.0