# GROUPBY() METHOD
* In Pandas, GroupBy can be used to group data in many different ways and perform complex data transformations and analysis.
* It is a powerful tool for grouping data and performing operations on these groups.
* The groupby method allows you to split your data into groups based on some criteria, apply a function to each group independently, and then combine the results.

In [9]:
import pandas as pd

data = pd.read_excel("C:/Users/ACER/Desktop/stuff/DS PROJECT/Datasets/ESD.xlsx")
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [23]:
# Group the data by "Department" and count the number of occurrences of "EEID"
gb_1 = data.groupby("Department").agg({"EEID": "count"})
print(gb_1)
print()

# Group the data by "Job Title" and count the number of occurrences of "EEID"
gb_2 = data.groupby("Job Title").agg({"EEID": "count"})
print(gb_2)
print()

# Group the data by both "Department" and "Gender", then count the number of occurrences of "EEID"
gb_3 = data.groupby(["Department","Gender"]).agg({"EEID": "count"})
print(gb_3)

                 EEID
Department
Accounting         96
Engineering       158
Finance           120
Human Resources   125
IT                241
Marketing         120
Sales             140

                                EEID
Job Title
Account Representative            21
Analyst                           51
Analyst II                        53
Automation Engineer                7
Business Partner                  19
Cloud Infrastructure Architect    15
Computer Systems Manager          21
Controls Engineer                 15
Development Engineer              19
Director                         121
Engineering Manager               20
Enterprise Architect              18
Field Engineer                    21
HRIS Analyst                      16
IT Coordinator                    11
IT Systems Architect              12
Manager                           98
Network Administrator             10
Network Architect                 18
Network Engineer                   7
Operations Engineer               12
Quality Engineer                  20
Service Desk Analyst              10
Solutions Architect               15
Sr. Account Representative         9
Sr. Analyst                       70
Sr. Business Partner              17
Sr. Manger                       110
System AdministratorÂ              15
Systems Analyst                   15
Technical Architect               17
Test Engineer                     12
Vice President                   105

                        EEID
Department      Gender
Accounting      Female    53
                Male      43
Engineering     Female    80
                Male      78
Finance         Female    69
                Male      51
Human Resources Female    64
                Male      61
IT              Female   119
                Male     122
Marketing       Female    57
                Male      63
Sales           Female    76
                Male      64

In [21]:
# Grouping the data by 'Country' and calculating the mean age for each country
gb1 = data.groupby(["Country"]).agg({"Age": "mean"})
print(gb1)
print()

# Grouping the data by 'Country' and calculating the mean annual salary for each country
gb2 = data.groupby(["Country"]).agg({"Annual Salary": "mean"})
print(gb2)
print()

# Grouping the data by 'Country' and 'Gender', and calculating the maximum and minimum annual salary for each group
gb3 = data.groupby(["Country","Gender"]).agg({"Annual Salary": ["max", "min"]})
print(gb3)
print()

# Grouping the data by 'Country' and 'Gender', calculating the maximum annual salary and minimum age for each group
gb4 = data.groupby(["Country","Gender"]).agg({"Annual Salary": "max", "Age" : "min"})
print(gb4)

                     Age
Country
Brazil         43.654676
China          45.389908
United States  44.197512

               Annual Salary
Country
Brazil         112324.834532
China          113823.532110
United States  113204.794712

                     Annual Salary
                               max    min
Country       Gender
Brazil        Female        258426  44735
              Male          249506  40316
China         Female        249686  46833
              Male          257194  41728
United States Female        258498  40124
              Male          258081  40063

                      Annual Salary  Age
Country       Gender
Brazil        Female         258426   25
              Male           249506   26
China         Female         249686   25
              Male           257194   25
United States Female         258498   25
              Male           258081   25