# Pivoting & Melting in Pandas

# Pivoting
Reshapes a DataFrame from a long format to a wide format, typically used when you want to transform a column into multiple columns based on another column's values.

In [9]:
import pandas as pd

data = {
    "Keys":["k1","k2","k1","k2"],
    "Names":["John", "Kent", "Sam", "Vickey"],
    "Houses":["red", "blue", "green", "red"],
    "Grades":["A", "A", "C", "B"],
}

df = pd.DataFrame(data)
print(df)

print()

# Pivot the DataFrame with specified index, columns, and values
print(df.pivot(index="Keys", columns="Names", values=["Houses","Grades"]))

  Keys   Names Houses Grades
0   k1    John    red      A
1   k2    Kent   blue      A
2   k1     Sam  green      C
3   k2  Vickey    red      B

      Houses                     Grades
Names   John  Kent    Sam Vickey   John Kent  Sam Vickey
Keys
k1       red   NaN  green    NaN      A  NaN    C    NaN
k2       NaN  blue    NaN    red    NaN    A  NaN      B

# Melting
Reshapes a DataFrame from a wide format to a long format, typically used when you want to transform multiple columns into a single column based on another column's values.

In [11]:
# Melt the DataFrame with only "Houses" as the value variable
print(pd.melt(df, id_vars = ["Names"], value_vars = ["Houses"]))

print()

# Melt the DataFrame with "Houses" and "Grades" as value variables
print(pd.melt(df, id_vars = ["Names"], value_vars = ["Houses", "Grades"], var_name = "Houses&Grades", value_name = "Value"))

    Names variable  value
0    John   Houses    red
1    Kent   Houses   blue
2     Sam   Houses  green
3  Vickey   Houses    red

    Names Houses&Grades  Value
0    John        Houses    red
1    Kent        Houses   blue
2     Sam        Houses  green
3  Vickey        Houses    red
4    John        Grades      A
5    Kent        Grades      A
6     Sam        Grades      C
7  Vickey        Grades      B